---
import { Image } from "astro:assets";
import type IProject from "../../data/types/project.type";
interface Props{
    project:IProject
}
const {project}: Props = Astro.props;
---
<a href={`${project.id}/`} class="flex flex-row items-center border-2 dark:border-gray-700 px-4 rounded-xl gap-4 hover:bg-gray-100 dark:hover:bg-gray-700 2xl:h-56 py-5">
    <Image src={project.cover} alt={project.name} class="w-1/5 h-1/5 sm:w-[40px] sm:h-[40px] 2xl:w-[50px] 2xl:h-[50px] rounded-full" />
    <div class="flex flex-col justify-between h-full">
        <h3 class="text-base sm:text-lg 2xl:text-xl font-serif text-indigo-500 font-bold">{project.name}</h3>
        <p class="text-xs sm:text-sm lg:text-base">{project.description}</p>
        <div class="flex flex-row items-center gap-1">
            {project.complement.map((lang) => (
                <figure class="scale-[0.7] sm:sclae-[0.75] xl:scale-[0.85]">
                    {(<lang.icon/>)}
                </figure>
            ))}
        </div>
    </div>
</a>