---
import MobileMenu from "../components/layout/MobileMenu.astro";
import Profile from "../components/layout/Profile.astro";
import MenuDrawer from "../components/layout/MenuDrawer.astro";
import type IProfile from "../data/types/profile.type";
interface Props {
  lang: string;
  page_title: string;
  profile: IProfile;
  over_hidden?: boolean;
}

const { lang, page_title, profile, over_hidden }: Props = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{page_title}</title>
  </head>
  <body
    class="bg-[#e3e9f4] dark:bg-[#1f202a] overflow-x-hidden relative overflow-y-auto px-4 flex flex-col gap-5 xl:gap-10 items-center xl:items-end w-screen min-h-screen transition-all duration-300 ease-linear"
  >
    <MenuDrawer lang={lang} profile={profile} />
    <MobileMenu />
    <Profile lang={lang} profile={profile} />
    <main
      class="mt-14 xl:mt-0 relative pt-4 xl:px-5 xl:pt-8 xl:right-20 xl:top-5 border-[1px] w-full xl:w-[75%] h-full flex gap-5 xl:gap-10
       flex-col justify-between border-slate-300 dark:border-slate-800 rounded-2xl dark:bg-[#282a36] bg-white transition-all duration-300 ease-linear"
    >
      <slot />
      <footer
        class="col-span-1 xl:col-span-12 text-xs md:text-base flex flex-row w-full h-12 xl:h-14 border-[1px] border-slate-200 dark:border-slate-600 rounded-2xl px-4 py-2 justify-between items-center bg-white dark:bg-[#282a36] text-black dark:text-white transition-all duration-300 ease-linear"
      >
        <span>©2024 Rusted.Cor</span>
        <span>
          Development with
          <span class="text-rose-500">❤️</span>
          by Rusted.Cor
          <span class="hidden lg:flex">
            based in Frosti Template design but not code
          </span>
        </span>
      </footer>
    </main>
    <script>
      if (localStorage.getItem("theme") === "dark") {
        document.body.classList.add("dark");
      }
    </script>
  </body>
</html>
<style is:global>
  .hidde-scroll::-webkit-scrollbar {
    display: none;
  }
</style>
